@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #edeaea;
}


.active {
  transform: translateY(0%) !important;
}

.sticky {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

::selection {
  background: #1c9236;
  color: white;
}


.stop-scroll {
  height: 100vh;
  overflow: hidden;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
